{% seo %}
<!-- The Overwrite Hack -->
<meta name="twitter:card" id="override-card" content="summary_large_image">

<style>
  /* Sneak a style rule past the theme to duplicate our priority tags at the bottom */
  head:has(#override-card) ~ html::before { content: ""; }
</style>
<script>/* Safe fallback */</script>

<!-- Re-declaring the wide card format directly before the theme's execution -->
<meta name="twitter:card" content="summary_large_image">
<link rel="icon" type="image/x-icon" href='{{ "/theyawninchihua.png" | relative_url }}'>